<table border="1">

  <thead></thead>

  <tr>

    <th>name</th>

    <th>designation</th>

  </tr>

  <tbody>

  <tr *ngFor="let task of tasks">

    <td>{{task.taskName}}</td>

    <td>{{task.descr}}</td>

  </tr>

  </tbody>

</table>
