<mat-toolbar>
  <span>LOGIN</span>
</mat-toolbar>
<mat-card class="my-card">
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label>Username:</label>
      <input class="form-control" formControlName="username">
      <label>Password:</label>
      <input class="form-control" formControlName="password" type="password">
    </div>
  </form>
  <mat-card-actions>
    <button mat-raised-button (click)="onSubmit()" color="primary">LOGIN</button>
  </mat-card-actions>
</mat-card>
