<mat-toolbar>
  <span>Registration</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form [formGroup]="registerForm">
      <div class="form-group">
        <label>Email:</label>
        <input class="form-control" formControlName="email">
        <label>Username:</label>
        <input class="form-control" formControlName="username">
        <label>Password:</label>
        <input class="form-control" formControlName="password">
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onSubmit()" color="primary">REGISTER</button>
  </mat-card-actions>
</mat-card>
